@{
    ViewBag.Title = "Place X Main Page";

}


		<div id="map" style="height: 400px"></div>



@section scripts{
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA31oQmPpgh78elc-b7mYijwsSQF6ni4tA"></script>
	<script type="text/javascript" src="~/Scripts/Controllers/HomeController.js"></script>
}