* {
    *padding: 0;
    *margin: 0;
}
body {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-x: hidden;
    transition: margin-left .5s;
    margin: 0 auto;
    background: #efeff4;
}


.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/*/
.dl-horizontal dt {
    white-space: nowrap;
}
    */
.map {
    height:100%;
    width:100%;   
}
footer {
    display: none;
}
.container-fluid {
    position: absolute;
    z-index:1000;
    left:0;
    width:100%;
  
}



@charset "UTF-8";

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

    .animated.hinges {
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        -o-animation-duration: 2s;
        animation-duration: 2s;
    }

    .animated.slow {
        -webkit-animation-duration: 3s;
        -moz-animation-duration: 3s;
        -o-animation-duration: 3s;
        animation-duration: 3s;
    }

    .animated.snail {
        -webkit-animation-duration: 4s;
        -moz-animation-duration: 4s;
        -o-animation-duration: 4s;
        animation-duration: 4s;
    }

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%, 100% {
        -o-transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -o-transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-dialog {
    width: 350px;
}

.login .modal-footer {
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}

.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
    /* padding: 11px 15px; */
}

.login .modal-body {
    /* background-color: #eeeeee; */
}

.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

    .login .division .line {
        border-top: 1px solid #DFDFDF;
        position: absolute;
        top: 10px;
        width: 34%;
    }

        .login .division .line.l {
            left: 0;
        }

        .login .division .line.r {
            right: 0;
        }

    .login .division span {
        color: #424242;
        font-size: 17px;
    }

.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

    .login .social .circle .fa {
        font-size: 16px;
    }

.login .social .facebook {
    background-color: #455CA8;
    color: #FFFFFF;
}

.login .social .google {
    background-color: #F74933;
}
    

}

.login .facebook:hover {
    background-color: #6E83CD;
}

.login .google:hover {
    background-color: #FF7566;
}


.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.login .btn-login, .registerBox .btn-register {
    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}

    .login .btn-login:hover, .registerBox .btn-register:hover {
        background-color: #00A4E4;
        color: #FFFFFF;
    }

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

    .login .form-control:hover {
        background-color: rgba(0,0,0,.16);
    }

    .login .form-control:focus {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
        background-color: rgba(0,0,0,0.23);
        color: #FFFFFF;
    }

.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px) {
    .login .modal-dialog {
        width: 100%;
    }
}

/*placeinfo style start*/
ul {
    list-style-type: none;
}
hr {
    border-color: #b9b9b9;
}

.bodyPlace {
    color: #959b9e;
}

.sectionBar {
    background-color: #f0f0f7;
    height: 3em;
}

    .sectionBar a {
        text-decoration: none !important;
        color: inherit;
    }

.sectionGroup {
    padding: 0.8em 0.8em 0.7em 2.5em;
}

    .sectionGroup:hover {
        border-bottom: 2px solid grey;
    }

.venueScore {
    padding: 0.8em;
    background-color: whitesmoke;
}

.positive {
    background: #00B551;
    color: white;
    padding: 0.3em;
    border-radius: 5px;
}

/*slider start*/
.photoBanner {
    height:210px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}
.block {
	width: 200px;
	height: 200px;
}
/*slider end*/

/*review styles start*/
.btn-grey {
    background-color: #D8D8D8;
    color: #FFF;
}

.rating-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px 15px 20px 15px;
    border-radius: 3px;
}

.bold {
    font-weight: 700;
}

.padding-bottom-7 {
    padding-bottom: 7px;
}

.review-block {
    background-color: #FAFAFA;
    border: 1px solid #EFEFEF;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 15px;
}

.review-block-name {
    font-size: 12px;
    margin: 10px 0;
}

.review-block-date {
    font-size: 12px;
}

.review-block-rate {
    font-size: 13px;
    margin-bottom: 15px;
}

.review-block-title {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-block-description {
    font-size: 13px;
}
/*review styles end*/
/*placeinfo styles end*/

/*sprite with stars*/

#reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
    background: url('http://positivecrash.com/wp-content/uploads/ico-s71a7fdede6.png') no-repeat;
}

#reviewStars-input {
    /*fix floating problems*/
    overflow: hidden;
    *zoom: 1;
    /*end of fix floating problems*/
    position: relative;
    float: left;
}

    #reviewStars-input input {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
        width: 43px;
        height: 40px;
        position: absolute;
        top: 0;
        z-index: 0;
    }

        #reviewStars-input input:checked ~ label {
            background-position: 0 -40px;
            height: 40px;
            width: 43px;
        }

    #reviewStars-input label {
        background-position: 0 0;
        height: 40px;
        width: 43px;
        float: right;
        cursor: pointer;
        margin-right: 10px;
        position: relative;
        z-index: 1;
    }

        #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
            background-position: 0 -40px;
            height: 40px;
            width: 43px;
        }

    #reviewStars-input #star-0 {
        left: 0px;
    }

    #reviewStars-input #star-1 {
        left: 53px;
    }

    #reviewStars-input #star-2 {
        left: 106px;
    }

    #reviewStars-input #star-3 {
        left: 159px;
    }

    #reviewStars-input #star-4 {
        left: 212px;
    }

    #reviewStars-input #star-5 {
        left: 265px;
    }

.sign,btn-primary {
    margin: 8px 20px 0px 0px;
}
nav.navbar {
    padding: 10px 0;
}

    nav.navbar .container-fluid {
        padding: 0;
    }

    nav.navbar .row {
        width: 100%;
        display: table;
        margin: 0;
    }

    nav.navbar div[class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: middle;
    }

        nav.navbar div[class*="col-"]:last-child {
            text-align: right;
        }

    nav.navbar input[type="text"] {
        width: auto;
        display: inline-block;
    }

    nav.navbar .btn-primary {
        margin-top: -2px;
        margin-right:19px;
    }

    nav.navbar .dropdown-menu {
        float: right !important;
        right: 0 !important;
        left: auto !important;
    }

@media(max-width:576px) {

    nav.navbar div[class*="col-"] {
        padding: 0;
    }
 
}

#owl-demo .item {
    margin: 3px;
    height: 200px;
}

    #owl-demo .item img {
        display: block;
        width: 100%;
        height: auto;
    }

#notifies {
    position: fixed;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    z-index: 99;
}		

