body {
    padding-top: 0px;
    padding-bottom: 0px;
    overflow-x: hidden;
    transition: margin-left .5s;
    padding: 5px;
}


.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/*/
.dl-horizontal dt {
    white-space: nowrap;
}
    */
.map {
    height:100%;
    width:100%;
}
.container-fluid {
    position: absolute;
    z-index:1000;
    left:0;
    width:100%;
  
}
.btn-default{
   margin-right:5%;
}
.navbar-form{
   
}