@{
    ViewBag.Title = "Main Page";
}
<div>
	<br/>
	<br/>
</div>
<div id="map"></div>
<script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
		  center: uluru,
		  mapTypeId: 'roadmap',
		  mapTypeControl: false,
		  streetViewControl: false,
		  fullscreenControl: false
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
</script>
<script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA31oQmPpgh78elc-b7mYijwsSQF6ni4tA&callback=initMap">
</script>